<ion-view view-title="RUNO-App">
  <ion-content>
    <div class="headerSlogan">
      <div class="headerSloganText animated fadeInDownBig">
        <img src='img/eu.png' style='height: 80px; margin-top: 3px;'>
        <h2>European Cooperation in Education</h2>
        <h3>"The Great Beauty"</h3>
        <h4>Exchange of good practices for a better European school.</h4>
      </div>
    </div>
    <div class="headerSlogan" style="background-image: url('img/italyandsweden2.png') !important;">
      <div class="headerSloganText animated fadeInRightBig">
        <h2>The Participants are:</h2>
        <h3>Rudbeck Highschool in Sollentuna Sweden &amp; Liceo Scientifico Statale Giuseppe Novello in Italy.</h3>
      </div>
    </div>
    <div class="headerSlogan" style="background-image: none !important; background-color: #809900 !important;">
      <div class="headerSloganText animated fadeInLeftBig">
        <h2>The Purpose of RUNO-app:</h2>
        <h3>The RUNO-app can be used for field work in the nature of Monte Rosa in Italy &amp; Kittelfjäll in Sweden, and also on the islands Capri in Italy &amp; Utö in Sweden.</h3>
      </div>
    </div>
  </ion-content>
</ion-view>
