<ion-view view-title="{{content.title}}">
  <ion-content>
    <div class="list card">
      <div class="item">
        <h2>{{content.title}}</h2>
        <p>{{content.date}}</p>
      </div>
      <div class="item item-body">
        <ion-slide-box>
          <ion-slide ng-repeat="image in content.images">
            <img ng-src="{{image.imageUrl}}" class="full-image">
            <p class="imageText" style="color: {{image.fontColor}}!important; background-color: white; padding: 1%;">
              {{image.imageText}}
            </p>
          </ion-slide>
        </ion-slide-box>
        <p>
          {{content.content}}
        </p>
        <p>
          <span class="subdued">By: {{content.participants}}</span>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
