<ion-view view-title="Information">
  <ion-content style="background-color: #F5F6FA !important;">
    <div class="headerSlogan" style="background-image: none !important; background-color: #F5F6FA !important;">
      <div class="headerSloganText gray animated fadeInLeftBig">
        <h2>Responsible Teachers:</h2>
        <h3>Isabella Ferrari Aggradi, Anna Rosa Dotelli and Carl Johan Evers, Eva Wallerström</h3>
        <img class="full-image" src="img/teachers.jpg">
      </div>
    </div>
    <div class="card">
      <div class="item item-divider green">
        <h2 style="color: #fff;">All Participating Staff</h2>
      </div>
      <div class="item item-text-wrap">
        <h3>Liceo Scientifico Statale Giuseppe Novello</h3>
        <p><bold>Headmistress:</bold> Valentina Gambarini</p>
        <p><bold>Teachers:</bold> Isabella Ferrari Aggradi, Anna Rosa Dotelli,, David Fugante, Lucia Lambri, Francesca Avollone, Maximillien Euvrad</p>
        <br>
        <h3>Rudbeck</h3>
        <p><bold>Headmistress:</bold> Linda Dungner</p>
        <p><bold>Teachers:</bold> Eva Wallerström, Carl Johan Evers</p>

        </div>
        <div class="item item-divider green">
          <h2 style="color: #fff;">School comparison</h2>
        </div>
        <div class="item item-text-wrap">
          <p>
            Both Novello and Rudbeck are communal high schools. They are a halfway between primary/middle school and university: you start to study on your own and take on responsibility for your own studies. The first is located in Codogno, a small city 60km south of Milan, while the second stands in Sollentuna, 20 km north of Stockholm.  Talking with each other in our group we found out many differences between our schools. First of all, we noticed the different dimension. Rudbeck is comprised of nearly 2000 students whereas Novello is smaller: there are just 600 students. Due to this fact, the ambience is more familiar in the Italian school and everyone know almost everybody. On the other hand, in a big school like Rudbeck you can always meet new people, also because of the different organization. In fact, in Sweden you have your class with one head teacher, but then you can choose a lot of classes of different courses, and so you almost never see your own class and you meet many new people every day. Novello offers 3 different programs: scientific, classical and linguistic. The first is focused on Sciences: the main subject is Mathematics (4/5 hours per week), but we also learn Sciences, Physics, English, Italian and Latin (language and literature), History, Philosophy, Art, Gym and Religious Education. This is the address where we (the Italian class in the project) join. The classical address is centered on Human Sciences, while the linguistic one on Modern Languages.</p>
          </div>
          <div>
            <div class="card">
              <div class="item item-divider green">
                Contact Information
              </div>
              <div class="item item-text-wrap">
                <img src="img/rudbeck-icon.png" height="100">
                <h2>Rudbeck</h2>
                <p>Malla Silfverstolpes Väg 3 </p>
                <p>Sollentuna, Sweden</p>
                <iframe src="https://maps.google.se/maps?f=q&amp;source=s_q&amp;hl=sv&amp;geocode=&amp;q=Malla+Silfverstolpes+v%C3%A4g+3,+Sollentuna&amp;aq=0&amp;oq=Malla+Silfverstolpes+v%C3%A4g+3&amp;sll=59.496005,18.294675&amp;sspn=2.309072,7.075195&amp;ie=UTF8&amp;hq=&amp;hnear=Malla+Silfverstolpes+v%C3%A4g+3,+192+51+Sollentuna&amp;t=m&amp;ll=59.443722,17.955008&amp;spn=0.008727,0.042915&amp;z=14&amp;iwloc=A&amp;output=embed" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" height="200" style="width: 100%;"></iframe>
                <br>
                <br>
                <h2>Liceo Scientifico Statale Giuseppe Novello</h2>
                <p>Viale Giovanni XXIII, 7</p>
                <p>Italy</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1406.7629212739023!2d9.690843394524647!3d45.15620061347831!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4780dfa943c612cf%3A0x7bad2f8bf08f0d74!2sLiceo+Statale+%22Giuseppe+Novello%22!5e0!3m2!1ssv!2sus!4v1465120714606" height="200" frameborder="0" style="border:0; width: 100%;"></iframe>
              </div>
            </div>
            <div class="card">
              <div class="item item-text-wrap">
                <h2>Acknowledgement</h2><img src="img/d-ank.png" style="float: right; height: 100px;" />
                This application was created by Daniel Holm at the request of sciences teachers at the Rudbeck highschool in Sollentuna Sweden. The source code for this application can be found <a href="https://github.com/d-ank/RUNO-app">here</a>. Access more work by Daniel Holm at <a href="http://d-ank.com">http://d-ank.com</a>.
              </div>
            </div>
            <br>
          </div>
        </ion-content>
      </ion-view>
