<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">RUNO Erasmus+</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>

        <div ng-repeat = "data in menu">
          <div ng-if="data.class == 'title'" class="titleInMenu">
            <h2 class="inListTitle">{{data.title}}</h2>
          </div>
          <div ng-if="data.class == 'about'">
            <ion-item menu-close href="#/app/about">
              {{data.title}}
            </ion-item>
          </div>
          <div ng-if="data.class == 'information'">
            <ion-item menu-close href="#/app/information">
              {{data.title}}
            </ion-item>
          </div>
          <div ng-if="data.class == 'gallery'">
            <ion-item menu-close ng-click="goToContent('swe', 44)">
              {{data.title}}
            </ion-item>
          </div>
          <div ng-if="data.class == 'menuItem'">
            <ion-item menu-close ng-click="goToContent('{{data.locationId}}', {{data.id}})">
              {{data.title}}
            </ion-item>
          </div>
        </div>
        <!--
<ion-item menu-close href="#/app/about">
About this project
</ion-item>
<ion-item menu-close ng-click="goToContent('1','2')">
Content
</ion-item>
<h2>Utö in Sweden</h2>
<ion-item menu-close href="#/app/birdsSwe">
Birds
</ion-item>
<ion-item menu-close href="#/app/floraSwe">
Flora
</ion-item>
<ion-item menu-close href="#/app/foodCultureSwe">
Food &amp; Culture
</ion-item>
<ion-item menu-close href="#/app/waterLifeSwe">
Water Life
</ion-item>-->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
