/* Empty. Add your own CSS if you like */
.bar.bar-stable, .green {
  background-color: #809900 !important;
  color: #fff !important;
}
.bar.bar-stable h1 {
  color: #fff !important;
}
.bar.bar-stable .title {
  color: #fff !important;
}
.bar-stable .button.button-icon {
  color: #fff;
}
.titleInMenu {
  background-color: #809900;
  padding: 5px;
}
.inListTitle {
  font-size: 18px;
  color: #fff;
  margin-left: 11px;
  margin-top: 10px !important;
}
.imageText {
  margin-bottom: 0;
  position: absolute;
  bottom: 20px;
  font-size: 1em !important;
  font-weight: bold !important;
  left: 1%;
}
.headerSlogan {
  display: block;
  max-height: 1200px;
  height: 100%;
  background-color: #333;
  background-image: url('../img/kittelfjall.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  padding: 20%;
}
.headerSloganText {
  padding: 20px;
  text-align: center;
}
.headerSloganText h1, .headerSloganText h2, .headerSloganText h3, .headerSloganText h4 {
  color: white;
  font-weight: bold;
  text-shadow: 0 1px 0 #ccc;
}
.headerSloganText.gray h1, .headerSloganText.gray h2, .headerSloganText.gray h3, .headerSloganText.gray h4 {
  color: #67717D;
  font-weight: bold;
  text-shadow: 0 1px 0 #ccc;
}
.slider-pager .slider-pager-page {
  color: #809900 !important;
}